.primary-btn {
    background-color:#0B0B45;
    color:#ffffff;
    transition: 0.2s;
}

.primary-btn:hover {
    background-color:#14146b;
}

.secondary-btn {
    background-color:#D3B69C;
    color:#111111;
    transition: 0.2s;
}

.secondary-btn:hover {
    background-color:#c7a88c;
}
.card-header {
    background-color:#0B0B45;
    color:#fff;
}